@page
@model RazorPagesGeneral.Pages.Employess.EmployessModel
@{
    ViewData["Title"] = "Employees";
    ViewData["ShowButtons"] = true;
}
@if (TempData["SeccessMessage"] != null)
{
    <div class="alert alert-success text-center">
        @TempData["SeccessMessage"]
    </div>
}
<h1>Employees</h1>
<div class="row">
    @foreach (var item in Model.Employess)
    {
    <div class="col-12 col-sm-6 col-lg-4">
        <!--Вызов частичной модели созданный в папке Shared_DisplayEmployeePartial-->
        <partial name="_DisplayEmployeePartial" model="item" view-data="ViewData">
    </div>
    }
</div>
